@import "tailwindcss";

:root {
  /* Main backgrounds */
  --background: #ddd;
  --dashboard: #F5EFE3;
  --card: #FFFFFF;
  --card-secondary: #F1E4D0;
  --card-hover: #EFE0C8;

  /* Text */
  --foreground: #1F1408;
  --muted-foreground: #1F1101;
  --secondary-foreground: #54371d;

  /* Brand */
  --primary: #54371d;
  --primary-foreground: #FFF8ED;
  --primary-hover: #6B4727;

  /* Buttons / accents */
  --secondary: #EAD8BD;
  --secondary-foreground: #54371d;
  --secondary-hover: #DFC49D;
  --accent: #1F1101;
  --accent-foreground: #54371d;

  /* Borders / inputs */
  --border: #E2D4BF;
  --input: #FFFDF8;
  --ring: #C0843E;

  /* States */
  --danger: #DC2626;
  --warning: #D97706;
  --success: #15803D;
}

@theme inline {
  --color-background: var(--background);
  --color-dashboard: var(--dashboard);
  --color-card: var(--card);
  --color-card-secondary: var(--card-secondary);

  --color-foreground: var(--foreground);
  --color-muted-foreground: var(--muted-foreground);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-primary-hover: var(--primary-hover);
  --color-secondary-hover: var(--secondary-hover);
  --color-card-hover: var(--card-hover);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-danger: var(--danger);
  --color-warning: var(--warning);
  --color-success: var(--success);
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
}